@media all and (min-width: 601px) and (max-width: 1000px) {
    
    canvas {
        border-radius: 0;
        border: 0;
    }

    .play-button {
        display: flex;
    }

    #btnLeft {
        bottom: 20px; left: 20px;
    }

    #btnRight {
        bottom: 20px; left: 100px;
    }

    #btnAction {
        bottom: 60px; left: 60px;
    }

    #btnRun {
        bottom: 50px; right: 70px;
    }

    #btnJump {
        bottom: 100px; right: 70px;
    }

    #btnFS {
        top: 40px; right: 40px;
    }

    #btnSound {
        top: 40px; right: 90px;
    }

    /* Instruction Display */

    .go-back {
        width: 20px;
    }

    .text-contain {
        gap: 5px;
    }

    h1 {
        font-size: 30px;
    }

    .instruction {
        font-size: 18px;
    }

    /* End Display */

    .end-message {
        font-size: 18px;
    }

    .end-image-contain {
        gap: 5px;
    }

    .end-image {
        width: 200px;
    }
}

@media all and (max-width: 600px) {

    body {
        background-image: url(img/wizard-saga/background/dark-portal-flip-divice.jpg);
    }
    
    .game-display-contain {
        display: none;
    }
}