body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #162687;
    background-image: url(img/wizard-saga/background/dark-portal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    margin: 0;
}

.game-display-contain {
    width: 1000px;
    height: 530px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

canvas {
    display: block;

    border-radius: 20px;
    border: 4px solid #000000;
}

/* Canvas Smartphones begin */

@media only screen and (max-width: 1000px) {
    canvas, .game-display-contain {
        width: 100%;
    }
}

@media only screen and (max-height: 530px) {
    canvas, .game-display-contain {
        height: 100vh;
    }
}

/* Canvas Smartphones end */

.start-monitor, .instruction-monitor, .end-monitor {
    width: 95%;
    height: 94.4%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url('img/wizard-saga/background/starry-sky-with-npcs.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 20px;

    position: absolute;
}

/* Start Display */

.start-monitor {
    justify-content: center;
}

.button-contain {
    width: 60%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 100px;
}

.front-button {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    border: 0;
    background-color: #162687;

    cursor: pointer;
    z-index: 9;
}

.front-button:hover {
    background-color: #1f36d0;
}

.button-img {
    width: 85%;
}

/* Instruction Display */

.instruction-monitor {
    background-image: url();
}

.go-back {
    position: absolute;
    top: 30px; right: 30px;

    cursor: pointer;
}

.text-contain {
    width: 95%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    color: #d46119;
    overflow: scroll;
}

h1 {
    font-size: 45px;
    text-decoration: underline;
    color: #8d1616;
}

.instruction {
    font-size: 25px;
}

.u-instruction {
    font-size: 20px;
    margin: 0;
}

.href {
    color: #d46119;
    text-decoration: none;
}

/* End Display */

.end-monitor {
    background-image: url('img/wizard-saga/background/starry-sky.jpg');
}

.end-text-contain, .end-image-contain {
    width: 90%;
    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-message {
    font-size: 25px;
    color: #d46119;
}

.end-image-contain {
    gap: 25px;
}

.end-image {
    width: 350px;

    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
}

.end-image:hover {
    border: 5px solid black;
}

/* Global CSS */

.d-none {
    display: none;
}






.afoch-so {
    color: #8d1616;
    color: #d46119;
}